<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <title>Currency Form</title>
</head>
<body>

<div class="container small">
    <div th:insert="/dashboard/dashboard::dashboard-menu"></div>
    <h2>Currency add/update form</h2>
    <form class="form-group" method="post" action="/web/currency/save" th:object="${currencyObject}">
        <div class="form-group">
            <input type="hidden" name="exchangeRateId" id="exchangeRateId" th:field="*{exchangeRateId}">
        </div>
        <div>
            <label class="form-label" for="currencyName">Currency</label>
            <input class="form-control" type="text" name="currencyName" id="currencyName" th:field="*{currencyName}">
        </div>
        <div>
            <label class="form-label" for="value">Value</label>
            <input class="form-control" type="text" name="value" id="value" th:field="*{value}">
        </div>
        <div>
            <label class="form-label" for="multiplier">multiplier</label>
            <input class="form-control" type="text" name="multiplier" id="multiplier" th:field="*{multiplier}">
        </div>

        <button type="submit" class="btn btn-success btn-link">Save Data</button>
        <button class="btn"><a class="nav-link active"  href="/web/dashboard">Back To Dashboard</a></button>
        <button class="btn"><a class="nav-link active"  href="/web/currency/list">Currencies List</a></button>

    </form>

</div>

</body>
</html>
