<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <title>User details</title>
  </head>
<body>
    <div class="container small">
          <div th:insert="/dashboard/dashboard::dashboard-menu"></div>
          <h2>User Details</h2>
         <div class="table">
            <table class="table table-striped table-hover align-middle">
                <thead>
                    <th class="align-middle" scope="col">User Field</th>
                    <th class="align-middle" scope="col">Field Value</th>
                    <th class="align-middle" scope="col">Actions</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">User Id</td>
                        <td class="align-middle" th:text="${userDetails.userId}"></td>
                    </tr>
                    <tr>
                        <td class="align-middle">Username</td>
                        <td class="align-middle" th:text="${userDetails.username}"></td>
                    </tr>
                    <tr>
                        <td class="align-middle">First Name</td>
                        <td class="align-middle" th:text="${userDetails.firstName}"></td>
                    </tr>
                    <tr>
                        <td class="align-middle">Last Name</td>
                        <td class="align-middle" th:text="${userDetails.lastName}"></td>
                    </tr>

                    <tr>
                        <td class="align-middle">Email</td>
                        <td class="align-middle" th:text="${userDetails.email}"></td>
                    </tr>
                    <tr>
                        <td class="align-middle">Edit User</td>
                        <td class="align-middle"></td>
                        <td><a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/user/edit/'+userDetails.userId}}">Edit</a></td>
                    </tr>
                    <tr>
                        <td class="align-middle" scope="col">Enabled</td>
                        <td class="align-middle" th:text="${userDetails.getEnabled()}"></td>
                        <td>
                            <a class="btn btn-danger btn-sm btn-link align-middle" role="button" th:href="@{${'/web/user/disable/'+userDetails.userId}}">Disable</a>
                            <a class="btn btn-success btn-sm btn-link align-middle" role="button" th:href="@{${'/web/user/enable/'+userDetails.userId}}">Enable</a>
                        </td>
                    </tr>
                    <tr th:each = "authority:${userDetails.authorityList}" th:if="${not userAuthorities.isEmpty()}">
                        <td class="align-middle">Authorities</td>
                        <td class="align-middle" style="display: block; align-content: center">
                              <span th:text="${authority.authority}"></span>
                            <a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/authority/edit/'+userDetails.userId + '/'+authority.authorityId}}">Edit authority</a>
                            <a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/authority/delete/'+authority.authorityId}}">Delete authority</a>
                            <a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/authority/add/'+userDetails.userId}}">Add Authority</a>
                        </td>

<!--                        <td class="align-middle" th:each = "authority:${userDetails.authorityList}" th:if="${not userAuthorities.isEmpty()}" style="display:inline-list-item">-->
<!--                                <a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/authority/edit/'+userDetails.userId + '/'+authority.authorityId}}">Edit authority</a>-->
<!--                                 <a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/authority/delete/'+authority.authorityId}}">Delete authority</a>-->
<!--                                 <a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/authority/add/'+userDetails.userId}}">Add Authority</a>-->

<!--                        </td>-->
                        <tr th:if="${userAuthorities.isEmpty()}">
                             <td class="align-middle">Authorities</td>
                             <td class="align-middle"></td>
                             <td class="align-middle" >
                                <p><a class="btn btn-primary btn-sm btn-link align-middle" role="button" th:href="@{${'/web/authority/add/'+userDetails.userId}}">Add Authority</a></p>
                            </td>
                         </tr>


                    </tr>
                    <tr>
                        <td class="align-middle" scope="col">Password Reset</td>
                        <td class="align-middle"></td>
                        <td><a class="btn btn-success btn-sm btn-link align-middle" role="button" th:href="@{${'/web/password/reset/'+userDetails.userId}}">Password Reset</a></td>
                    </tr>
                </tbody>



            </table>
         </div>
        <button class="btn"><a class="nav-link active"  href="/web/user/list">User List</a></button>
    </div>
</body>
</html>
