<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
  <title>Budget Line form</title>
</head>
<body>
<div class="container small">
  <div th:insert="/dashboard/dashboard::dashboard-menu"></div>
  <h2>Budget Line add/update</h2>
  <form class="form-group" method="post" action="/web/budget-line/save" th:object="${budgetLineObject}">
    <div class="form-group">
      <input type="hidden" name="budgetLineId" id="budgetLineId" th:field="*{budgetLineId}">
    </div>
    <div class="form-group">
      <label class="form-label" for="budgetLine">Budget Line</label>
      <input class="form-control" type="text" name="budgetLine" id="budgetLine" th:field="*{budgetLine}">
    </div>

    <button type="submit" class="btn btn-success btn-link">Save Data</button>
    <button class="btn"><a class="nav-link active" href="/web/dashboard">Back to Dashboard</a></button>
    <button class="btn"><a class="nav-link active" href="/web/budget-line/list">Budget Lines List</a></button>

  </form>

</div>


</body>
</html>
