<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/supplier-check.js"></script>
        <title>Supplier Form</title>
    </head>
<body>

    <div class="container small">
        <div th:insert="/dashboard/dashboard::dashboard-menu"></div>
        <h2>Supplier add/update form</h2>
        <form method="post" action="/web/supplier/save" th:object="${supplierObject}">
            <div class="form-group">
<!--                <label for="supplierId">Supplier Id</label>-->
                <input type="hidden" name="supplierId" id="supplierId" th:field="*{supplierId}">
            </div>
            <div class="form-group">
                <label class="form-label"  for="supplierCode">Supplier Code</label>
                <input class="form-control" type="text" name="supplierCode" id="supplierCode"
                       th:value="${supplierCode}" readonly="readonly">

            </div>
            <div class="form-group">
                <label class="form-label"  for="supplierName">Supplier Name</label>
                <input class="form-control" type="text" name="supplierName" id="supplierName" th:field="*{supplierName}">
            </div>
            <div class="form-group">
                <label class="form-label"  for="address">Address</label>
                <input class="form-control" type="text" name="address" id="address" th:field="*{address}">
            </div>
            <div class="form-group">
                <label class="form-label"  for="vatCode">Tax Code</label>
                <input class="form-control" type="text" name="vatCode" id="vatCode" th:field="*{vatCode}">
            </div>
            <div th:if="${message != null}" class="m-3">
                <p class="text-danger">[[${message}]]</p>
            </div>
            <div class="form-group">
                <label class="form-label"  for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" th:field="*{email}">
            </div>
            <div class="form-group">
                <label class="form-label"  for="contactPerson">Contact Person</label>
                <input class="form-control" type="text" name="contactPerson" id="contactPerson" th:field="*{contactPerson}">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" id="city" th:field="*{city}">
            </div>
            <div class="form-group">
                <label for="county">County</label>
                <input class="form-control" type="text" name="county" id="county" th:field="*{county}">
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <select class="form-control" id="country" aria-label="Default select Example" th:field="*{country}">
                    <option th:each="country:${countryList}" th:value="${country.getValue()}" th:text="${country.getValue()}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-link">Save Data</button>
            <button class="btn"><a class="nav-link active"  href="/web/dashboard">Back To Dashboard</a></button>
            <button class="btn"><a class="nav-link active"  href="/web/supplier/list">Supplier List</a></button>
        </form>

    </div>

</body>
</html>
