
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
        <title>Status List</title>
    </head>

<body>
    <div class="container" >
        <div class="table">
            <table class="table table striped table-hover align-middle">
                <thead>
                <tr>
                    <th class="align-middle" scope="col">Id</th>
                    <th class="align-middle" scope="col">Status</th>
                    <th class="align-middle" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="status:${statusList}">
                    <td class="align-middle" scope="row" th:text="${status.statusId}"></td>
                    <td class="align-middle" th:text="${status.status}"></td>
                    <td><a class="btn btn-primary btn-sm btn-link" role="button" th:href="@{${'/web/status/edit/'+status.statusId}}">Edit</a></td>
                </tr>
                </tbody>
            </table>
            <button class="btn"><a class="nav-link active" href="/web/dashboard">Back To Dashboard</a></button>
        </div>

    </div>

</body>
</html>