<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="/js/js-functions.js"></script>
        <title>Purchase Headers List</title>
    </head>
<body>

<div class="container">
    <div class="container-fluid">
        <div th:replace="/main-page::main-page-menu"></div>
        <h2 th:if="${editAndPromoteButtons.booleanValue()}">In progress Purchase Requests List</h2>
        <h2 th:if="${not editAndPromoteButtons.booleanValue()}">Purchase Requests List</h2>
    </div>

    <div class="container-fluid">
        <div class="table table-sm">

            <table class="table table-striped table-hover align-middle" id="sortTable">
                <thead>
                <tr>
                    <div th:replace="/models/purchase-header-source::purchase-header-head"></div>

                    <th class="align-middle" scope="col" th:if="${editAndPromoteButtons.booleanValue()}">Edit</th>
                    <th class="align-middle" scope="col" th:if="${editAndPromoteButtons.booleanValue()}">Purchase
                        Request
                    </th>
                    <th class="align-middle" scope="col" th:if="${editAndPromoteButtons.booleanValue()}">Promote</th>
                    <th class="align-middle" scope="col" colspan="3"
                        th:if="${not editAndPromoteButtons.booleanValue()}">Details
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="purchaseHeaderObject:${purchaseHeadersList}">

                    <div th:replace="/models/purchase-header-source::purchase-header-data"></div>


                    <td class="align-middle" th:if="${purchaseHeaderObject.status.status.endsWith('progress')}"><a
                            class="btn btn-primary btn-sm btn-link align-middle" role="button"
                            th:href="@{${'/web/purchase/purchase-header/edit/'+purchaseHeaderObject.purchaseHeaderId}}">Edit</a>
                    </td>

                    <td class="align-middle" th:if="${purchaseHeaderObject.status.status.endsWith('progress')}">
                        <a class="btn btn-primary btn-sm btn-link align-content-center"
                           th:href="@{${'/web/purchase/purchase-request/'+purchaseHeaderObject.purchaseHeaderId}}">Request</a>
                    </td>


                    <td class="align-middle" th:if="${purchaseHeaderObject.status.status.endsWith('progress')}"><a
                            class="btn btn-success btn-sm btn-link align-middle" role="button"
                            th:href="@{${'/web/purchase/purchase-header/promote/'+purchaseHeaderObject.purchaseHeaderId}}">Promote</a>
                    </td>

                    <td class="align-middle" th:if="${purchaseHeaderObject.status.status.endsWith('issued')}"><a
                            class="btn btn-primary btn-sm btn-link align-middle" role="button"
                            th:href="@{${'/web/purchase/purchase-request/'+purchaseHeaderObject.purchaseHeaderId}}">Request</a>
                    </td>
                    <td th:if="${purchaseHeaderObject.status.status.endsWith('approved')}"><a
                            class="btn btn-info btn-sm btn-link align-middle" role="button"
                            th:href="@{${'/web/purchase/purchase-order/'+purchaseHeaderObject.purchaseHeaderId}}">Purchase
                        Order</a></td>


                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn"><a class="nav-link-active" href="/web/main-page">Back To Main Page</a></button>
        <button class="btn"><a class="nav-link-active" href="/web/purchase/purchase-header/add">Add new PR</a></button>
        <button class="btn" th:if="${not editAndPromoteButtons.booleanValue()}"><a class="nav-link-active"
                                                                                   href="/web/purchase/purchase-header/in-progress-list">In
            progress PR List</a></button>

        <button class="btn" th:if="${editAndPromoteButtons.booleanValue()}"><a class="nav-link-active"
                                                                               href="/web/purchase/purchase-header/issued-list">Issued
            PR List</a></button>

    </div>

 </div>
<div th:replace="/main-page::main-page-footer"></div>

</body>
</html>
